services:
  - type: web
    name: carrer-edge-backend
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - fromGroup: carrer-edge-vars
